/* Type your code here */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
:root {
  --text-color-grey: #7a7a7a;
  --text-padding: 10px 30px;
  --table-heading-color: #ff3c00;
  --table-column-color: #515151;
  --text-shadow-color: #3434349a;
}

body {
  background-image: url("assets/background-image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 20px 40px 20px 40px;
  font-family: "Nunito Sans";
}

a {
  text-decoration: none;
  font-weight: 400;
}

.cric_logo {
  display: flex;
  flex-direction: row-reverse;
  background: fixed;
}

.heading h1 {
  font-size: 40px;
  text-shadow: 0px 4px 4px var(--text-shadow-color);
  margin-bottom: 0px;
  margin-top: 0px;
}

.heading p {
  font-size: 20px;
  font-weight: 600;
  color: var(--table-column-color);
  margin-top: 0px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1.5px solid #d7d4d49d;
}

.table_heading td {
  font-weight: 600;
  color: white;
  background-color: var(--table-heading-color);
  padding: var(--text-padding);
}

.column_heading td {
  font-weight: 600;
  color: black;
  background-color: white;
  padding: var(--text-padding);
}

.batsman_row td {
  color: black;
  background-color: white;
  font-weight: 400;
  padding: var(--text-padding);
}

.batsman_row .bowler {
  color: var(--text-color-grey);
  font-weight: 300;
}

#bowler {
  color: var(--text-color-grey);
  font-weight: 300;
}

/* change the font family and spacing as per your project font */
.footer {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  position: relative;
  top: 750px;
  margin-left: 80px;
  font-size: 18px;
  font-family: "Nunito Sans";
  font-style: normal;
}
